<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/estilos.css"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votaciones 2026</title>
    <link href="/static/css/estilos.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
</head>


<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Elecciones 2026</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Candidatura
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Candidatos</a></li>
            <li><a class="dropdown-item" href="#">Citacion</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Registrarse</a></li>
             <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
      </ul>
      <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Iniciar sesion</button>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Buscar🔎</button>
      </form>
    </div>
  </div>
</nav>


    <div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/static/img/votacion4.jpg" class="d-block w-100" alt="..." height="900px">
    </div>
    <div class="carousel-item">
      <img src="/static/img/votacion5.jpg" class="d-block w-100" alt="..." height="900px">
    </div>
    <div class="carousel-item">
      <img src="/static/img/votacion3.png" class="d-block w-100" alt="..." height="900px">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class ="tarjetas">

    <div class="card" style="width: 18rem;">
  <img src="/static/img/ivan.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ivan cepeda</h5>
    <p class="card-text">es un político de izquierda que se enfoca en los derechos humanos, la paz y la defensa de sectores sociales vulnerables. Sus ideas apoyan una mayor intervención del Estado en temas sociales y económicos.</p>
    <a href="https://www.movimientopactohistorico.co/" class="btn btn-primary">ver partido</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/static/img/lasponja.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Abelardo de lasprilla</h5>
    <p class="card-text">tiene una postura de derecha conservadora, centrada en la seguridad, el orden y la defensa de valores tradicionales. También apoya políticas económicas más cercanas al libre mercado.</p>
    <a href="https://defensoresdelapatria.com/" class="btn btn-primary">ver partido</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img src="/static/img/pp.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Palloma valencia</h5>
    <p class="card-text">representa una derecha conservadora ligada al uribismo, defendiendo la seguridad democrática, la economía de mercado y posiciones críticas frente a gobiernos y movimientos de izquierda.</p>
    <a href="https://palomapresidente.com.co/" class="btn btn-primary">ver partido</a>
  </div>
</div>
 


</div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Personeria
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Que es?</strong> La Personería en Colombia es un organismo público de control y vigilancia que opera a nivel municipal o distrital para defender los derechos humanos, proteger el interés público y vigilar la conducta oficial de los servidores públicos. Actúa como la representación directa de la ciudadanía (Ministerio Público) en las regiones, asegurando que las autoridades locales cumplan con la Constitución y las leyes.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Presidencial
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Que es?</strong> El presidente es el líder político y la máxima autoridad del poder ejecutivo de un país. En una república, es el jefe de Estado y de Gobierno elegido por los ciudadanos para administrar la nación por un periodo determinado.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Alcalde
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Que es?</strong> El alcalde es el jefe de gobierno local y la máxima autoridad de un municipio o distrito. Es elegido por voto popular para un periodo de cuatro años y se encarga de administrar los recursos públicos, garantizar la seguridad ciudadana y liderar las obras y el desarrollo de su comunidad.
      </div>
    </div>
  </div>
</div>



<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">Inicio de sesion</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Correo electronico</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Contraseña</label>
</div>
  
 <br> 
 
  <a href="/administrador" class="btn btn-primary mt-3">Iniciar sesión</a>

</div>
  </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>


</html>